.title {
	display: block;
	width: 315px;
	height: 19px;

	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	line-height: 20px;

	/* Light-Primary-Text */
	color: #263154;
	margin-bottom: 20px;
}
