$bg: #fff;

.level {
	display: flex;
	margin-top: 8px;
    align-items: baseline;
}

.icon-hidden {
	visibility: hidden;
}

.icon-container {
	width: 22px;
	height: 22px;
	left: 1.17%;
	position: relative;
}

.icon {
	color: transparent;
	user-select: none;
	position: relative;
	display: inline-block;
	box-sizing: border-box;
	overflow: visible;
	vertical-align: top;
	font-style: normal;
	font-size: 22px;
	mix-blend-mode: multiply;
	cursor: pointer;
}

.icon:before, .icon:after {
  	/* BACKGROUND COLOR */
	background-color: $bg;
	border-color: $bg;
	color: $bg;

	content: '';
	position: absolute;
	display: block;
	box-sizing: border-box;
}

.caret-down:before {
	width: 0.25em;
	height: 0.25em;
	border-top: 0;
	border-left: 2px;
	border-bottom: 2px;
	border-right: 0;
	border-color: #FFF;
	border-style: solid;
	top: 7px;
	left: 8px;
	background: transparent;
	transform: rotate(-45deg);
}

.caret-down:after {
	z-index: -1;
	background-color: #0A7593;
	border-radius: 100%;
	width: 1em;
	height: 1em;
	top: 0;
	left: 0;
}

.form-input {
	margin-left: 25px;
	width: 550px;
}

.add-button {
	text-align: left;
	background: #FFF;
  	color: #26A300;
  	border: 1px dashed #26A300;
  	padding: 5px 10px;
	border-radius: 4px;
	font-family: Open Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 12px;
	line-height: 16px;
}

.add-button:focus, .add-button:hover, .add-button:active {
	color: #FFF;
	background: #007E33;
	border: 2px solid #007E33;
	box-shadow: none !important;
}

.remove-button {
	margin-left: 7px;
	text-align: center;
	background: #FFF;
  	color: #CC0000;
  	border: 2px solid #CC0000;
  	padding: 5px 10px;
  	text-transform: uppercase;
	border-radius: 8px;
	font-family: Open Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 12px;
	line-height: 16px;
}

.remove-button:focus, .remove-button:hover, .remove-button:active {
	color: #FFF;
	background: #CC0000;
	border: 2px solid #CC0000;
	box-shadow: none !important;
}
