$transition-duration: 0.5s;
$transition-timing-function: ease-in-out;

body {
	padding: 1rem;
    background: #dce2e2;
    color: #444;
    font-weight: 300;
	font-family: Open Sans;
	box-sizing: border-box;
}

/* Block of Businesses */
.title {
	display: block;
	width: 315px;
	height: 19px;

	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	line-height: 20px;

	/* Light-Primary-Text */
	color: #263154;
	margin-bottom: 20px;
}
